@font-face{
    font-family: 'Game Bubble';
    src: url('/src/assets/Game\ Bubble.ttf');
}
h1{
    text-align: center;
    font-size: 400%;
    font-family: 'Game Bubble';
}
section{
    margin: 2%;
}
#table{
    margin-bottom: 7%;
}